@import './global.css';

/* variables for window arrangement */
:root {
  --global-light-height: 1rem;

  --menubar-width: 100vw;
  --menubar-height: 2rem;

  --menubar-background-color: var(--vt-c-white-mute);
  --menubar-text-color: var(--vt-c-black-mute);

  --file-navigator-width: 17vw;
  --file-navigator-height: calc(100vh - var(--menubar-height));
  --file-navigator-top: var(--menubar-height);
  --file-navigator-background-color: var(--vt-c-white-soft);
  --file-navigator-text-color: var(--vt-c-black-soft);

  --editor-window-width: calc(100vw - var(--file-navigator-width));
  --editor-window-height: calc(100vh - var(--menubar-height));
  --editor-window-top: var(--menubar-height);
  --editor-window-left: var(--file-navigator-width);
  --editor-window-background-color: var(--vt-c-white);
  --editor-window-text-color: var(--vt-c-black);

  --file-node-highlighted-text-color: var(--vt-c-white);
  --file-node-highlighted-background-color: rgb(39, 61, 92);
  --file-node-highlighted-focused-background-color: rgb(39, 61, 92);
  --file-node-caption-text-color: var(--vt-c-text-light-2);

  --file-editor-index-text-color: var(--vt-c-text-light-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-border-color: var(--vt-c-black);

    --menubar-background-color: rgb(36, 40, 44);
    --menubar-text-color: rgb(169, 168, 173);

    --file-navigator-background-color: rgb(37, 41, 42);
    --file-navigator-text-color: var(--vt-c-white-soft);

    --editor-window-background-color: rgb(28, 30, 31);
    --editor-window-text-color: rgb(176, 180, 181);

    --file-node-highlighted-text-color: var(--vt-c-white-mute);
    --file-node-highlighted-background-color: rgb(57, 61, 65);
    --file-node-highlighted-focused-background-color: rgb(39, 61, 92);
    --file-node-caption-text-color: var(--vt-c-text-dark-2);

    --file-editor-index-text-color: rgb(176, 180, 181);

    --file-viewer-text-color: rgb(186, 190, 191);
  }
}
